button {
  display: inline-block;
  height: 120px;
  width: 120px;
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 4px;
}

button img {
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 4px;
}





