<br>
<h1>Welcome {{name}}</h1>
<div *ngIf='isEmployee'>
  <p *ngIf='isAdmin'> ADMIN PANEL</p>
  <p *ngIf='isEmployee && !isAdmin' > EMPLOYEE PANEL</p>
  <a href="/medicine-list">
    <button class="btn-info">Medicine</button>
  </a>
  <a href="/calendar">
    <button class="btn-info">Calendar</button>
  </a>
  <a href="/appointment-doctor-list">
    <button class="btn-info">Appointments</button>
  </a>
  <a href="/user-list/users">
    <button class="btn-info">Users</button>
  </a>
  <a href="/user-list/patients">
    <button class="btn-info">Patients</button>
  </a>
  <a href="/user-list/employees">
    <button class="btn-info">Employees</button>
  </a>
  <button type="button" (click)="editUser()" class="btn-info">
    Edit Profile
  </button>
</div>
<div *ngIf='!isAdmin && !isEmployee'>
  <p> USER PANEL</p>
  <button type="button" (click)="editQuestionnaire()">
    Questionnaire
  </button>
  <a href="/appointment-patient-list">
    <button>Your Appointments</button>
  </a>
  <a href="/appointment-patient-form">
    <button>Create a Appointment</button>
  </a>
  <button type="button" (click)="editUser()">
    Edit Profile
  </button>
</div>
