
<!-- Navigation -->
<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/home" style="width: 200px">
      <img src="assets/img/logo_small.png" style="width: 200px" alt="">
    </a>
    <div>
      <ul class="navbar-nav ml-auto">
        <div class="collapse navbar-collapse">
        <li *ngIf="isEmployee" class="nav-item">
          <a class="nav-link" href="/calendar">Calendar</a>
        </li>
        <li *ngIf="isEmployee" class="nav-item">
          <a class="nav-link" href="/appointment-doctor-list">Appointments</a>
        </li>
        </div>
        <li class="nav-item">
          <a href="/appointment-doctor-list" *ngIf="isEmployee" class="notification">
            <img src="assets/img/bellIcon.png" onmouseover="this.src='assets/img/bellIconOnHover.png';" onmouseout="this.src='assets/img/bellIcon.png';">
            <span class="badge">{{inquiries.length}}</span>
          </a>
          <button type="button" (click)="logout()"><img src="assets/img/logoutIcon.png" onmouseover="this.src='assets/img/logoutIconOnHover.png';" onmouseout="this.src='assets/img/logoutIcon.png';"></button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 100px"></div>

<footer class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  <p class="copyright">&#169; 2019 beADoc.com All rights reserved</p>
</footer>

