<div>
  <table class="table" *ngIf="medias?.length">
    <thead>

    </thead>
    <tbody>
    <tr *ngFor="let media of medias; let i = index;">
      <td><strong>{{ media.originalFileName }}</strong></td>
      <td>
        <img [src]="previews[i] | safeUrl" *ngIf="previews[i]" class="img-fluid">
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="downloadMedia(media)">
            Download
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteMedia(i)">
            Entfernen
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <input [id]="'field_' + name" type="file" ng2FileSelect [uploader]="uploader" [multiple]="true" accept="image/*">
</div>
