<form [formGroup]="userForm" (ngSubmit)="navigateToList()">

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <h5>Username: &nbsp;</h5>
        <h3>{{userForm.value.username}}</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <h5>Name: &nbsp;</h5>
        <h3>{{userForm.value.name}}</h3>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <h5>Lastname: &nbsp;</h5>
        <h3>{{userForm.value.lastName}}</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h5>Day of Birth: &nbsp;</h5>
      <h3>{{userForm.value.dayOfBirth}}</h3>
    </div>
    <div class="col">
      <h5>Gender: &nbsp;</h5>
      <h3>{{userForm.value.gender}}</h3>
    </div>
  </div>

  <div *ngIf="userForm.value.admin" class="row">
    <div class="col">
      <h5>Role: &nbsp;</h5>
      <h3 *ngIf="userForm.value.admin">Admin</h3>
      <h3 *ngIf="userForm.value.employee">Employee</h3>
      <h3 *ngIf="!userForm.value.admin && !userForm.value.employee">Patient</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <h5>Appointments: &nbsp;</h5>
        <h3>[]Appointments</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <h5>Medicine: &nbsp;</h5>
        <h3>[]Medicines</h3>
      </div>
    </div>
    <div class="col">
      <a [routerLink]="'/questionaires/' + userForm.value.id"><button class="btn btn-primary">Show Questionaire</button></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="btn-group">
      <button type="submit" class="btn btn-primary">
        Back
      </button>
    </div>
  </div>
</form>
