<p></p>
<h1>{{title}} for {{usernameCurrent}}</h1>
<br>
<br>
<table>
  <thead>
  <tr>
    <th *ngFor="let head of headElementsAppointments" scope="col"><a href (click)="sortTable(head)"> {{head}}</a></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointmentEntries; let i = index">
      <td>{{appointment.appointmentDate}}</td>
      <td>{{appointment.appointmentTime}}</td>
      <td>{{appointment.fixed ? "Fixed" : "Not fixed"}}</td>
      <td><form class="col" *ngIf="!appointment.fixed && usernameCurrent == appointment.username" (ngSubmit)="fixAppointment(appointment.appointmentID, i)"><button class="btn-primary button" type="submit">Fix</button></form></td>
    </tr>
  </tbody>
</table>

<button class="btn-primary button2" type="button" (click)="createAppointment()">Ask for new Appointment</button>

