<h1>{{usernameCurrent}}, these are your current appointments</h1>
<div class="row" *ngFor="let appointment of appointmentEntries; let i = index">
    <div class="col" *ngIf="usernameCurrent == appointment.username">
      Appointment: {{appointment.appointmentDate}} {{appointment.appointmentTime}} {{appointment.fixed}}
    </div>
    <form class="col" *ngIf="!appointment.fixed && usernameCurrent == appointment.username" (ngSubmit)="fixAppointment(appointment.appointmentID, i)"><button type="submit">Fix</button></form>
</div>

<br>
<button type="button" (click)="createAppointment()">
  Ask for Appointment
</button>
