<form [formGroup]="medicineForm" (ngSubmit)="saveMedicine()">
  <div class="row">
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" formControlName="name" class="form-control"/>
          <!--<div *ngIf="medicineForm.controls.name.errors.required">
            Name is required.
          </div> -->
      </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="dosage">Dosage:</label>
      <input id="dosage" type="text" name="dosage" formControlName="dosage" class="form-control"/>
    </div>
  </div>

  <div class="row">
    <label for="sideEffects">Side Effects:</label>
    <input id="sideEffects" type="text" name="sideEffects" formControlName="sideEffects" class="form-control"/>
  </div>

  <div class="row">
  <div class="btn-group">
    <button type="submit" class="btn btn-primary" [disabled]="medicineForm.invalid">
      Save
    </button>
    <button type="submit" (click)="setShouldNavigateToList()" class="btn btn-primary" [disabled]="medicineForm.invalid">
      Save and Back
    </button>
    <button type="submit" (click)="navigateToList()" class="btn btn-primary">
      Back without saving
    </button>
  </div>
  </div>
</form>
