
<form (ngSubmit)="login()" class="login-page">

  <img src="assets/img/logo.PNG" width="600px">

<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Login</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
        <input type="text" class="login-field" placeholder="username" id="username" name="username" [(ngModel)]="user.username">
        <label class="login-field-icon fui-user" for="username"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" placeholder="password" id="password" name="password" [(ngModel)]="user.password">
        <label class="login-field-icon fui-lock" for="password"></label>
      </div>

      <button type="submit" class="btnn btn-primary btn-large btn-block">login</button>
      <button class="btn btn-link" (click)="infoMessage()">Lost your password?</button>
      <p *ngIf="message">Please send an eMail to email@xyz.at and we will reset it!</p>
    </div>
  </div>
</div>

</form>
