<br>
<div class="row">
  <div class="col">
    <h3>Pending Inquiries</h3>
    <div class="inquiry" style="margin-bottom: 20px;">
      <span style="font-weight: bold;"> Inquiry by {{inquiryentry.name}} {{inquiryentry.lastName}} ({{inquiryentry.username}}): </span>
      <br>
      <div>
        Day preferences:
        {{inquiryentry.soon ? "As soon as possible" : ""}} {{inquiryentry.monday ? "Monday" : ""}} {{inquiryentry.tuesday ? "Tuesday" : ""}} {{inquiryentry.wednesday ? "Wednesday" : ""}} {{inquiryentry.thursday ? "Thursday" : ""}} {{inquiryentry.friday ? "Friday" : ""}}
      </div>
      <div *ngIf="!inquiry.soon">
        Time preferences:
        {{inquiryentry.morning ? "Morning" : ""}} {{inquiryentry.midday ? "Midday" : ""}} {{inquiryentry.afternoon ? "Afternoon" : ""}}
      </div>
    </div>
    <br>
    <h3>Create a new Appointment</h3>
  <form [formGroup]="appointmentFormDoctor" (ngSubmit)="createAppointment()">
    <div class="row">
      <div class="col">
          <label for="appointmentDate">Date of Appointment</label>
          <input id="appointmentDate" type="Date" name="appointmentDate" formControlName="appointmentDate" class="form-control"/>
      </div>
      <div class="col">
        <label for="appointmentTime">Time of Appointment</label>
        <input id="appointmentTime" type="text" name="appointmentTime" formControlName="appointmentTime" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="patient">Patient</label>
        <ngx-select id="patient" [items]="patientOption" name="patient" [multiple]="false"
                    formControlName="patient" optionTextField="patient"></ngx-select>
      </div>
    </div>
    <br>
    <div class="btn-group">
      <button type="submit" class="btn btn-primary" [disabled]="appointmentFormDoctor.invalid">
        Create Appointment
      </button>
      <button type="submit" (click)="goBackToList()" class="btn btn-primary">
        Back to Appointment-list
      </button>
    </div>
  </form>
  </div>
  <div class="col">
    <div>
      <app-calendar></app-calendar>
    </div>
  </div>
</div>
