.appointments {
  width: 50%;
  float: left;
}

.inquiry {
  border-style: outset;
  border-radius: 5px;
  padding: 5px;
  border-width: thin;
  width: 45%;
  float: right;
  margin-left: 30px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.textInquiry {
  display: inline-block;
  margin-left: -30px;
  line-height: 40px;
}

table, td, th {
  border: 1px solid lightgray;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

th {
  background-color: aliceblue;
}

tr:nth-child(even){background-color: #f2f2f2}

.td-btn {
  padding: 0;
  text-align: center;
}

.button {
  float: right;
  border-radius: 5px;
  line-height: 28px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
