<p></p>
<h1>{{title}}</h1>
<br>
<br>
<div class="appointments">
  <table>
    <thead>
    <tr>
      <th *ngFor="let head of headElementsAppointments" scope="col"><a href (click)="sortTable(head)"> {{head}}</a></th>
      <th colspan="3"><input type="text" name="searchText" [(ngModel)]="searchString" placeholder="Type to search..."></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments | filter : searchlist : searchString">
        <td *ngIf='isEmployee && isAdmin'>{{appointment.appointmentDate}}</td>
        <td *ngIf='isEmployee && isAdmin'>{{appointment.appointmentTime}}</td>
        <td *ngIf='isEmployee && isAdmin'>{{appointment.fixed ? "Fixed" : "Not fixed"}}</td>
        <td *ngIf='isEmployee && !isAdmin'>{{appointment.appointmentDate}}</td>
        <td *ngIf='isEmployee && !isAdmin'>{{appointment.appointmentTime}}</td>
        <td *ngIf='isEmployee && !isAdmin'>{{appointment.fixed ? "Fixed" : "Not fixed"}}</td>
        <td *ngIf='isEmployee && isAdmin' class="td-btn"><button class="btn btn-danger" (click)="deleteAppointment(appointment)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="inquiry" *ngFor="let inquiry of inquiryentries">
  <span class="textInquiry"> Inquiry by <span style="font-weight: bold;">{{inquiry.username}}</span></span>
  <button class="btn-primary button" type="button" (click)="goToAppointmentForm(inquiry.id)"><span>Create new Appointment</span></button>
</div>

<div style="margin-top: 400px;">
</div>
