
table, td, th {
  border: 1px solid lightgray;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

th {
  background-color: aliceblue;
}

tr:nth-child(even){background-color: #f2f2f2}

.td-btn {
  padding: 0;
  text-align: center;
}

.yellowButton {
  background-color: #ffd633;
  border-color: #ffd633;
  text-shadow: 0.3px 0.3px #e6b800;

}

.yellowButton:hover {
  background-color: #ffc602;
  border-color: #ffc602;
  text-shadow: 0.3px 0.3px #e6b800;

}

.yellowButton:active {
  background-color: #ffd633;
  border-color: #ffd633;
  text-shadow: 0.3px 0.3px #e6b800;
}
