
<h1>{{title}}</h1>
  <table>
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col" > <a href (click)="sortTable(head)"> {{head}}</a></th>
      <th colspan="2"><input type="text" name="searchText" [(ngModel)]="searchString" placeholder="Type to search..."></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | filter : searchList : searchString"> <!-- | sortingUsers:path:order-->
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.eMail}}</td>
      <td *ngIf="title == 'Users'">{{user.employee}}</td>
      <td *ngIf="title == 'Users'">{{user.admin}}</td>
      <td class="td-btn"><a [routerLink]="'/user-info/' + user.id"><button class="btn btn-success pull-right yellowButton">Show</button></a></td>
      <td class="td-btn"><a [routerLink]="'/user-form/' + user.id"><button class="btn btn-success pull-right">Edit</button></a></td>
    </tr>
    </tbody>
  </table>

<button type="button" (click)="createUser()" class="btn btn-primary" style="margin-top: 20px;">
  Create new User
</button>
