<div>
  <table class="table" style="border: 0">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let media of medias; let i = index;">
      <td style="border: 0">
        <span *ngIf="!media.id">Uploading...</span>
      </td>
      <td style="border: 0">
        <img [src]="previews[i] | safeUrl" *ngIf="previews[i]" class="img-fluid" style="height: 200px">
      </td>
      <td style="border: 0">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="deleteMedia(i)">
            Set new Picture
          </button>
          <button type="button" class="btn btn-primary" (click)="downloadMedia(media)">
            Download
          </button>
        </div>
      </td>
    </tr>
    </tbody>
    <input [id]="'field_' + name" type="file" ng2FileSelect [uploader]="uploader" [multiple]="false" accept="image/*" *ngIf="medias != null && medias.length == 0"/>
  </table>
</div>
